.container {
  width: 100vw;
  height: 100vh;
  z-index: 1;
  position: relative;
  overflow: hidden;
  display: flex;
  min-height: 50vh;
  // background: radial-gradient(
  //   circle at 50% 250%,
  //   rgba(244, 211, 94, 1) 12%,
  //   rgba(218, 65, 103, 1) 42%
  // );
  // background-position: bottom;
  // background-color: #da4167;
}

.sunContainer {
  position: absolute;
  width: 15vw;
  top: 90px;
  right: 40px;
  z-index: -1;
  // animation-name: float;
  // animation-timing-function: linear;
  // animation-iteration-count: infinite;
  // animation-duration: 80s;
  // animation-delay: -0.8s;
}
.sun {
  background-image: url(../../assets/cloudsBirdsStars/sun.svg);
  width: 300px;
  height: 350px;
  position: absolute;
  right: 0;
  // background-repeat: no-repeat;
  // background-color: white;
}
.sunset {
  animation-name: goDown;
  animation-timing-function: ease-in-out;
  animation-timing-function: forwards;
  animation-duration: 1s;
}

@keyframes goDown {
  10% {
    transform: translateY(-2px);
  }
  12% {
    transform: translateY(-3px) translateX(-3px);
  }
  14% {
    transform: translateY(-4px) translateX(3px);
  }
  16% {
    transform: translateY(-6px) translateX(-3px);
  }
  18% {
    transform: translateY(-8px) translateX(3px);
  }
  20% {
    transform: translateY(-6px) translateX(-3px);
  }
  22% {
    transform: translateY(-4px) translateX(3px);
  }
  24% {
    transform: translateY(-3px) translateX(-3px);
  }
  26% {
    transform: translateY(-2px) translateX(3px);
  }

  100% {
    transform: translateY(100vh) translateX(1200px);
  }
}

.cloud-box-high {
  position: relative;
  top: 50px;
  left: 0;
  animation-name: float;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 80s;
  animation-delay: -0.8s;
}
.cloud-box-mid {
  position: relative;
  top: 225px;
  animation-name: float;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 98s;
  // animation-delay: -0.8s;
}
.cloud-box-low {
  position: relative;
  top: 335px;
  animation-name: float;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 125s;
  // animation-delay: -0.8s;
}
.cloud-one {
  background-image: url(../../assets/cloudsBirdsStars/cloud1.svg);
  width: 400px;
  height: 350px;
  position: relative;
  left: 0px;
  transform: scale(1.4);
}
.cloud-two {
  background-image: url(../../assets/cloudsBirdsStars/cloud2.svg);
  background-size: auto 100%;
  width: 400px;
  height: 350px;
  position: relative;
  left: 20vw;
  transform: scale(1.4);
}
.cloud-three {
  background-image: url(../../assets/cloudsBirdsStars/cloud3.svg);
  background-size: auto 100%;
  width: 400px;
  height: 350px;
  position: relative;
  left: -1050px;
  // left: 300vw;
  transform: scale(1.4) rotate(-1.5deg);
}
.cloud-four {
  background-image: url(../../assets/cloudsBirdsStars/cloud4.svg);
  background-size: auto 100%;
  width: 500px;
  height: 500px;
  position: relative;
  top: -120px;
  left: -2450px;
  transform: scale(1.4);
}
.cloud-five {
  background-image: url(../../assets/cloudsBirdsStars/cloud5.svg);
  // background-color: aliceblue;
  background-size: auto 100%;
  width: 400px;
  height: 350px;
  position: relative;
  left: -2050px;
  transform: scale(1.2) translateX(-125px) translateY(-100px);
}
.cloud-six {
  background-image: url(../../assets/cloudsBirdsStars/cloud6.svg);
  background-size: auto 100%;
  width: 400px;
  height: 350px;
  position: relative;
  left: -3050px;
  // transform: scale(1.4);
}
.cloud-seven {
  background-image: url(../../assets/cloudsBirdsStars/cloud7.svg);
  background-size: auto 100%;
  width: 400px;
  height: 350px;
  position: relative;
  left: -1850px;
  transform: scale(1.4);
}
.cloud-eight {
  background-image: url(../../assets/cloudsBirdsStars/cloud8.svg);
  background-size: auto 100%;
  width: 400px;
  height: 350px;
  position: relative;
  left: 700vw;
  // left: -3050px;
  left: -310vw;
  transform: scale(1.4);
}

.cloud-nine {
  background-image: url(../../assets/cloudsBirdsStars/cloud2.svg);
  width: 400px;
  height: 350px;
  position: relative;
  left: -400vw;
}

@keyframes float {
  0% {
    transform: translateX(-65vw);
  }

  100% {
    transform: translateX(170vw);
  }
}

.bird {
  background-image: url(../../assets/cloudsBirdsStars/Allbirds.svg);
  background-size: auto 100%;
  width: 150px;
  height: 175px;
  will-change: background-position;
  animation-name: fly-cycle;
  animation-timing-function: steps(30);
  animation-iteration-count: infinite;

  &--one {
    animation-duration: 1.5s;
    animation-delay: -0.8s;
  }

  &--two {
    animation-duration: 0.8s;
    animation-delay: -0.9s;
  }

  &--three {
    animation-duration: 1.25s;
    animation-delay: -0.25s;
  }

  &--four {
    animation-duration: 1.3s;
    animation-delay: -0.6s;
  }
  &--five {
    animation-duration: 1.6s;
    animation-delay: 1.8s;
  }
  &--six {
    animation-duration: 1.6s;
    animation-delay: 1.4s;
  }
  &--seven {
    animation-duration: 1.6s;
    animation-delay: 1s;
  }
}

.bird-box {
  position: absolute;
  top: 14%;
  left: -10%;
  transform: scale(0.4) translateX(-10vw);
  will-change: transform;
  animation-name: fly-right-one;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  &--one {
    animation-duration: 17s;
    animation-delay: 6s;
  }
  &--two {
    animation-duration: 17s;
    animation-delay: 6.2s;
  }
}

.bird-box-high {
  position: absolute;
  top: -10%;
  //   transform: scale(5) translateX(-10vw);
  will-change: transform;
  animation-name: fly-right-one;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  &--one {
    animation-duration: 23s;
    animation-delay: -5s;
  }
  &--two {
    animation-duration: 20s;
    animation-delay: -0.5s;
  }
}

.bird-container {
  position: absolute;
  top: 10%;
  left: -10%;
  transform: scale(0) translateX(-10vw);
  will-change: transform;
  animation-name: fly-right-one;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  &--one {
    animation-duration: 20s;
    animation-delay: 8.5s;
  }
  &--two {
    animation-duration: 17s;
    animation-delay: 6.1s;
  }
}

@keyframes fly-cycle {
  100% {
    background-position: -4500px 0;
  }
}

@keyframes fly-right-one {
  0% {
    transform: scale(0.3) translateX(-10vw);
  }

  10% {
    transform: translateY(2vh) translateX(10vw) scale(0.4);
  }

  20% {
    transform: translateY(0vh) translateX(30vw) scale(0.5);
  }

  30% {
    transform: translateY(4vh) translateX(50vw) scale(0.6);
  }

  40% {
    transform: translateY(2vh) translateX(70vw) scale(0.6);
  }

  50% {
    transform: translateY(0vh) translateX(90vw) scale(0.6);
  }

  60% {
    transform: translateY(0vh) translateX(110vw) scale(0.6);
  }

  100% {
    transform: translateY(0vh) translateX(110vw) scale(0.6);
  }
}
